{% extends "base.html" %}

{% block content %}
    <section id="home">
        <h2>Welcome to Furever</h2>
        <p>Your one-stop platform for dog adoption and supporting their well-being.</p>
        <img src="https://t4.ftcdn.net/jpg/10/20/55/77/360_F_1020557759_repsxx2Yt3kNkCve4th9qb7dEXFHn9id.jpg" alt="Adorable Dogs"style="width: 700px; height:auto;">
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>  Welcome to FUREVERHOMES,
            At FUREVERHOMES, we're passionate about finding forever homes for dogs in need. Our mission is to provide a safe, supportive, and informative platform for dog lovers to adopt, learn, and connect.
            </p>
         <p>Our Story
            FUREVERHOMES was founded by SAROJINI BOSE AND SHUBHI SINGH in 2024, driven by a desire to make a positive impact on the lives of dogs and their human families. With a team of dedicated animal lovers, we've created a comprehensive online platform that simplifies the dog adoption process and promotes education, awareness, and community engagement.
         </p>
           <p>  Our Values
            - Compassion: We believe that every dog deserves a loving home and a second chance at happiness.
            - Integrity: We're committed to transparency, honesty, and fairness in all our interactions.
            - Education: We strive to provide accurate, helpful, and engaging content that informs and inspires dog lovers.
            - Community: We foster a supportive online community that connects dog adopters, fosters, volunteers, and advocates.
            </p>
            <p>Get Involved
            Join our mission to find forever homes for dogs in need. Explore our website to learn more about dog adoption, read inspiring stories, and connect with our community.
            
            Thank you for visiting FUREVERHOMES!
            
            This is just a sample, and you can customize it to fit your website's tone, style, and mission.
            </p>
    </section>
{% endblock %}
